main{
  min-height:100%;
  margin-top: 7vh;
}


body {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}
button {
  margin-left: 10px;
}